body {
    text-align: center;
}

.buttonpanel {
    background-image: url('images/buttonpanel.png');
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 51px;
    display: flex;
    flex-direction: column; /* Organiza os itens na vertical */
    justify-content: center; /* Alinha os itens verticalmente */
    vertical-align: middle;
}
.item {
    margin-top: 3px;
    text-align: center;
    margin: 0 auto;
  }

#butbar {
    height: 36px;
    background-image: url('images/blackbar.png');
    background-repeat: repeat-x;
    display: flex;
    vertical-align: middle;
    align-items: center;
    color: #ffffff;
    padding-left: 10px;
}

#butbar img {
    margin-right: 10px;
}

#playerarea {
    display: flex;
    height: 100%;
}
#videosec{
    width: 70%;
    height: 355px;
    background-color: #000000;
    vertical-align: middle;
    align-items: center;
    color: #ffffff;
    display: flex;
}

#playlistsec {
    width: 30%;
    height: 300px;
}
#playlistsec img {
    margin-top: 20px;
    margin-bottom: 12px;
}
#playlistList {
    height: 191px;;
}