body {
	overflow: hidden;
}
h1 {
color: #ffffff;
}
.textbranco { 
font-size: 12px; color: #ffffff; font-family: arial;
}
.textocinzatitulo {
color: #999999; width: 15px;
}
a {
color: #cccccc;
}
a:hover {
color: #ffffff;
}
a:focus {
color: #cccccc;
}
#descricao {
      display: none;
    }
	.botao {
      cursor: pointer;
    }