@font-face {
  font-family: 'Lucida grande';
  src: url('../LucidaGrande.ttf') format('truetype');
}
body {
  font-family: 'Lucida grande'; font-size: 11px; color: #c2c2c2; background-color: #000000;
}
  h1 {
  color: #f04821; font-size: 18px;
  font-family: 'Trebuchet MS';
  src: url('../trebuc.ttf') format('truetype');
}
audio:not([controls]) {
  display: none;
}

hr {
border-color: #787878;
}
h2 {
font-size: 15px; color: #c2c2c2; text-align: right;
font-family: 'Trebuchet MS';
  src: url('../trebuc.ttf') format('truetype');
}
h3 {
font-size: 13px; color: #f04821; font-family: arial;
font-family: 'Trebuchet MS';
  src: url('../trebuc.ttf') format('truetype');
}
h4 {
font-size: 14px; color: #ffffff; font-family: arial;
}
h6 {
font-size: 10px; color: #cccccc
}
#uolnavbar {
	width: 100%; text-align: center; border-spacing: 10px;
	}
.uolnavbarspace {
	padding-top: 4px; 
}
.cinza {
	color: #cccccc; text-decoration: none;
	}
.cinza:hover {
	color: #cccccc;
	}
.cinza:focus {
	color: #cccccc;
	}
input {
	border-radius: 3px; border: none; color: #4a4a4a;
	}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
button {
	border-color: #353535; border-width: 1px; border-style: solid;
	}
.searchb {
		font-size: 11px; color: #ffffff;
		}
.orangebar {
		font-size: 13px; color: #ffffff; font-family: arial; text-decoration: none;
		}
.orangebar:hover {
		font-size: 13px; color: #ffffff; font-family: arial; text-decoration: none;
		}
.orangebar:focus {
		font-size: 13px; color: #ffffff; font-family: arial; text-decoration: none;
		}
.cinza2 {
	color: #c2c2c2; text-decoration: none;
	}
.cinza2:hover {
	color: #c2c2c2;
	}
.cinza2:focus {
	color: #c2c2c2;
	}
	.disabled {
    pointer-events: none;
}
#reset-zoom.disabled {
    display: none; /* esconde somente o botão reset zoom */
}
.centro {
	text-align: center;
}
.direita {
	text-align: right;
}
.imggames {
border: 1px solid #787878; padding:3px;
}
.imggames:hover {
border-color:#ff9c00;
}
.descrition {
	line-height: 18px;
}
.half {
	width: 50%;
}
.all {
	width: 100%;
}
a {
color: #f04821;
}
a:hover {
color: #c2c2c2;
}
a:focus {
color: #c2c2c2;
}
/*para descrições*/
.avisovermelho {
	color: #f04821;
	font-family: arial;
	font-size: 12px;
}
.avisocinza {
	color: #c2c2c2;
	font-family: arial;
	font-size: 12px;
}
p {
	line-height: 1.73;
}
.bodybackgroundconfig {
	width:1000px;margin: 0 auto;padding:10px;height:auto;background-color:#121212;
}
.windowgamepart {
	margin-top:2px;margin-bottom:5px;height:620px;border-width:1px;border-style:solid;border-color:#787878;
}
.error {
	color:#f04821; text-decoration: none;
}
/*css do input da barra de pesquisa do google*/
.input-with-image {
    position: relative;
    display: inline-block;
  }

  .input-with-image input {
    padding-left: 25px; /* espaço para a imagem */
  }

  .input-with-image .image-icon {
    position: absolute;
    top: 4px; /* ajuste a posição verticalmente conforme necessário */
    left: 4px; /* ajuste a posição horizontalmente conforme necessário */
  }
  .inline-form form {
    display: inline;
  }
  ruffle-player, ruffle-embed, ruffle-object {
            --preloader-background: #121212;
            --logo-display: block;
        }
		.smallline {
			line-height: 1.3;
		}