body {
  text-align: center;
	font-family: Lucida Grande, Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

#error {
  width: 560px;
  height: 273px;
  margin: 30px auto 40px auto;
  text-align: left;
  background: url(pageelements/error_bg.png) no-repeat;
  padding: 97px 40px 0 40px;
}

#error h1 {
  font-size: 19px;
  color: #FFF;
  margin: 0 0 40px -10px;
}

#error p {
  font-size: 14px;
  color: #444;
  margin: 15px 0;
  line-height: 23px;
}

#error p a {
  color: #666;
}

#error p a:hover {
  color: #E10000;
}

#error .home {
  margin: 20px 0 0 0;
}

#error .home a {
  font-size: 16px;
  background: url(pageelements/home.gif) 0 80% no-repeat;
  padding: 0 0 0 26px;
  color: #E10000;
}

#error .home a:hover {
  color: #666;
}

#error .refresh {
  margin: 25px 0 -10px 0;
}




#error .refresh a:hover {
  color: #666;
}

#error p.maintenance {
  font-size: 16px;
  line-height: 28px;
}

#error p.clickjogos {
  color: #666;
  margin-top: 20px;
}
